.card__button {
  width: 16px;
  height: 16px;
  background-image: url(../../../images/unlike.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  cursor: pointer;
  border: 0;
}