.promo__button {
  width: 96px;
  height: 36px;
  background-color: #E8E8E8;
  border: 0;
  border-radius: 10px;
  font-size: 12px;
  line-height: 3;
  color: black;
  font-weight: 500;
  cursor: pointer;
  list-style: none;
  margin-right: 10px;
  text-align: center;
}

.promo__button:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 420px) {
  .promo__button {
    width: 82px;
    height: 26px;
    font-size: 10px;
    line-height: 2.6;
    border-radius: 6px;
    margin-right: 6px;
  }

  .promo__button:last-of-type {
    margin-right: 0;
  }
}